.cont-main-container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px;
  background-color: #000000;
}

.cont-map-section {
  width: 100%;
  margin-bottom: 40px;
}

.cont-flex-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap; /* Isse layout responsive banega */
}

.cont-info-area,
.cont-form-area {
  flex: 1;
  min-width: 320px;
}

.cont-heading {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #ffffff;
}

/* Info Box with thick border */
.cont-border-card {
  border: 8px solid #e32626; /* Bilkul image jaisa thick border */
  padding: 35px;
}

.cont-info-item {
  margin-bottom: 20px;
}

.cont-info-item strong {
  display: block;
  font-size: 17px;
  color: #e32626;
  margin-bottom: 4px;
}

.cont-info-item p {
  color: #ffffff;
  font-size: 15px;
  line-height: 1.5;
}

/* Form Styles */
.cont-input-field {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  background-color: #f6f6f6;
  font-size: 15px;
  color: #333;
}

.cont-input-field:focus {
  outline: 1px solid #d93025;
}

/* Input ke niche space banane ke liye */
.cont-input-wrapper {
    margin-bottom: 15px;
    position: relative;
}

/* Base input field se margin-bottom hata dein kyunki wrapper handle kar raha hai */
.cont-input-field {
    margin-bottom: 5px; 
}

/* Error Message Style */
.cont-error-msg {
    color: #d93025;
    font-size: 12px;
    display: block;
    height: 15px; /* Message na hone par bhi space maintain rakhega */
    font-weight: bold;
    margin-top: -2px;
}
.cont-submit-btn {
  background-color: #d93025;
  color: #fff;
  padding: 16px 35px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease;
  border-radius: 5px;
}

.cont-submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.cont-error-text {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
}


/* Responsive optimization for mobile */
@media (max-width: 768px) {
  .cont-flex-wrapper {
    flex-direction: column;
  }
  .cont-border-card {
    padding: 20px;
  }
}
