.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}

.logo {
  font-size: clamp(20px, 1.7vw, 28px);
  font-weight: bold;
  letter-spacing: 2px;
  font-family: cursive;
  color: #fff;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: clamp(10px, 1.5vw, 20px);
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-family: cursive;
  cursor: pointer;
}


.nav-links li a.active {
  border-bottom: 2px solid #ff0000;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 1001;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: 0.4s;
}

/* --- Mobile Menu (768px below) --- */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 300px;
    background: #0a0a0a;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 50px;
    transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 1000;
    gap: 20px;
  }
  .nav-links.active {
    right: 0;
  }

  .nav-links li {
    list-style: none;
    width: 100%;
  }

  .nav-links.active li {
    opacity: 1;
    transform: translateX(0);
    transition: 0.4s ease forwards;
  }

  .nav-links li a {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: 0.3s;
  }

  .nav-links.active li:nth-child(1) {
    transition-delay: 0.1s;
  }
  .nav-links.active li:nth-child(2) {
    transition-delay: 0.2s;
  }
  .nav-links.active li:nth-child(3) {
    transition-delay: 0.3s;
  }
  .nav-links.active li:nth-child(4) {
    transition-delay: 0.4s;
  }
  .nav-links.active li:nth-child(5) {
    transition-delay: 0.5s;
  }
  .nav-links.active li:nth-child(6) {
    transition-delay: 0.6s;
  }
  .nav-links.active li:nth-child(7) {
    transition-delay: 0.7s;
  }

  .hamburger.open .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .hamburger.open .bar2 {
    opacity: 0;
  }
  .hamburger.open .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
